/.idea/.idea.DevToArticlesList/.idea/.gitignore
/.idea/.idea.DevToArticlesList/.idea/.name
/DevToArticlesList.sln.DotSettings.user
/.idea/.idea.DevToArticlesList/.idea/encodings.xml
/.idea/.idea.DevToArticlesList/.idea/indexLayout.xml
/.idea/.idea.DevToArticlesList/.idea/vcs.xml
/.idea/.idea.WebScrap/.idea/vcs.xml
